html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}html{scroll-behavior:smooth}body{line-height:1}a{text-decoration-skip-ink:auto}a[href^="tel"]{color:inherit;text-decoration:none}button{outline:0}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}q{display:inline;font-style:italic}q:before{content:'"';font-style:normal}q:after{content:'"';font-style:normal}textarea,input[type="text"],input[type="button"],input[type="submit"],input[type="reset"],input[type="search"],input[type="password"]{-webkit-appearance:none;appearance:none;border-radius:0}input[type="search"]{-webkit-appearance:textfield}table{border-collapse:collapse;border-spacing:0}th,td{padding:2px}big{font-size:120%}small,sup,sub{font-size:80%}sup{vertical-align:super}sub{vertical-align:sub}dd{margin-left:20px}kbd,tt{font-family:courier;font-size:12px}ins{text-decoration:underline}del,strike,s{text-decoration:line-through}dt{font-weight:bold}address,cite,var{font-style:italic}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}*{box-sizing:border-box;-webkit-tap-highlight-color:transparent}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}
.screen-reader-text{border:0;clip:rect(1px,1px,1px,1px);-webkit-clip-path:inset(50%);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute!important;width:1px;word-wrap:normal!important;word-break:normal}
.screen-reader-text:focus{background-color:#f7f7f7;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;-webkit-clip-path:none;clip-path:none;color:#007acc;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;right:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}
.skip-link{left:-9999rem;top:2.5rem;z-index:999999999;text-decoration:underline}
.skip-link:focus{display:block;left:6px;top:7px;font-size:14px;font-weight:600;text-decoration:none;line-height:normal;padding:15px 23px 14px;z-index:100000;right:auto}
.visually-hidden:not(:focus):not(:active), .form-allowed-tags:not(:focus):not(:active){position:absolute !important;height:1px;width:1px;overflow:hidden;clip:rect(1px 1px 1px 1px);clip:rect(1px, 1px, 1px, 1px);white-space:nowrap}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - 
    TEXT STYLES
- - - - - - - - - - - - - - - - - - - - - - - - - - */
h1,h2,h3,p,p.small,li,a,a.button,button {
    font-family: "Kufam", serif;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}
p,p.small {
    font-family: "Quicksand", serif;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}
h1{font-size: 28px;line-height:34px;}
h2{font-size: 22px;line-height:28px;}
h3{font-size: 18px;line-height:23px;margin-top:2px;}
p{font-family: "Quicksand", serif;font-size: 16px;line-height:21px;letter-spacing: .5px;}
a {text-decoration: none;color: inherit;}
.review h3 p {
    font-size: 18px;
    line-height:23px;
    font-family: "Quicksand", serif;
    font-weight: 400;
    font-style: normal;
    line-height: normal;}
.pill {
    font-family: "Kufam", serif;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - 
    COLOR SCHEMES
- - - - - - - - - - - - - - - - - - - - - - - - - - */
.pink-lite{color:#FEEBF8;}
.pink-background{background: var(--Pink, #ED3487);}
.pink{color: var(--Pink, #ED3487);}
.pink-dark-background{background:#391A2A;}
.pink-dark{color:#391A2A;}
.white {color: var(--White, #FFF);}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - 
    CONTAINERS
- - - - - - - - - - - - - - - - - - - - - - - - - - */

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    overflow: hidden;
}

.container-fullWidth {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.container-content {
    display: flex;
    max-width: 1080px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 0 20px;
    display: block;
    width: 100%; 
    justify-content: center; 
    align-self: center;
}

.container-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    justify-content: center;
    align-self: center;
}

.container-article {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 40px;
    align-self: stretch;
    flex-wrap: wrap;
}

.container-text-01 {
    display: flex;
    width: 100%;
    max-width: 600px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    padding:40px 0 80px;
}

.container-theContent {
    display: grid;
    max-width: 1080px;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    padding: 0 20px;
    width: 100%;
    justify-content: center;
    align-self: center;
    z-index:3;
    position: relative;
}

.paragraph,
.paragraphHighlight {
    display: flex;
    max-width: 700px;
    padding: 36px 60px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    background: white;
}

.header-padding {
    padding: 100px 34px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - 
    POSITIONING
- - - - - - - - - - - - - - - - - - - - - - - - - - */

.center-text {text-align: center;}
.inline {display: inline;}
.inlineBlock {display: inline-block;}
.inlineTable {display: inline-table;}
:root :where(.is-layout-flex) {
    gap: 14px;
}
.top-container-overlap {
    margin-top: -100px;
}

.l-text-flex {
    flex: 1; /* Takes up remaining space */
    margin-right: 15px; /* Optional: adds space between text and arrow */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.r-arrow-flex {
    flex-shrink: 0; /* Prevents arrow from shrinking */
    width: 40px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - 
    ELEMENTS
- - - - - - - - - - - - - - - - - - - - - - - - - - */

.entry-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(249, 240, 247, 0.5);
    z-index: 1;
  }

.entry-header {
    position: relative;
    z-index: 0;
}

.entry-header > * {
    position: relative;
    z-index: 2;
}

.img-profile {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 320px;
    height: 320px;
    border-radius: 50%;
}

/* Desktop Grid Layout */
.carousel {
    position: relative;
    width: 100%;
}

.carousel-wrapper {
    display: grid;
    gap: 20px;
    transition: transform 0.3s ease;
}

/* Grid configurations based on data-cols */
.carousel[data-cols="2"] .carousel-wrapper {
    grid-template-columns: repeat(2, 1fr);
}

.carousel[data-cols="3"] .carousel-wrapper {
    grid-template-columns: repeat(3, 1fr);
}

.carousel-item {
    background: white;
    border-radius: 0;
    border: 1px solid #ababab;
    overflow: hidden;
}

.carousel-item:hover {
    border:1px solid #ED3487;
    background: #ED3487;
    color: #FFF;
}


.text {
    display: flex;
    padding: 34px 14px;
    flex-direction: row;
    gap: 10px;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

.entry-summary-image {
    height: 170px; /* your fixed height */
    width: 100%; /* variable width */
    overflow: hidden;
    position: relative;
}

.entry-summary-image img {
    width: 100%;
    height: auto;
}

.processStep {
    padding-top:40px;
}

.processStep .wp-block-gallery{
    gap: 0!important;
}

.processStep h2, 
.processStep p, 
.processStep li {
    display: flex;
    width: 100%;
    padding: 0 60px;
}

.processStep ul {
    display: grid;
    gap:14px;
}

.processStep ul.cat li {
    background: var(--Green-Lite, #FFE4ED);
    padding: 10px 16px 6px;
}

.wp-block-media-text, .processStep {
    background: white;
    border: 1px solid #ababab;
    overflow:hidden;
}

.wp-block-media-text>.wp-block-media-text__content {
    padding: 40px 60px;
}

.carousel-item-review{
    border:0px!important;
}

.carousel-item-review:hover{
    border:0px!important;
    background:#FFF;
    color:#391A2A;
}

.resume-item {
    display: flex;
    padding: 0px 60px;
    max-width: 820px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.resume-item-text {
    display: flex;
    max-width: 700px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.resume-item-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.pill, button {
    display: inline-block;
    background: var(--Green-Lite, #FFE4ED);
    padding: 10px 16px 6px;
    border-radius: 10px;
}

.review .text {
    padding: 0 14px;
}

.r-sidebar-float {
    width: 370px;
    float: right;
    padding: 0 40px;
}

.l-content-float {
    width: calc(100% - 370px);
    float: left;
}

.nav-links {
    display: none !important;
}

.skill-item {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

svg.chevron-icon {
    width:30px;
    height: auto;
}

.bottom-nav-button {
    display: flex;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex: 1 0 0;
    background: #FFF;
}

.bottom-nav {
    display: flex;
    max-width: 1080px;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    margin-bottom:40px;
}


@media screen and (max-width: 768px) {
    .processStep ul.cat li {
        display: none;
    }

    .carousel {
        position: relative;
        width: 100%;
    }

    .carousel-wrapper {
        display: flex;
        gap: 15px;
        transition: transform 0.3s ease;
        padding: 0 5px;
    }

    .carousel-wrapper {
        cursor: grab;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .carousel-wrapper:active {
        cursor: grabbing;
    }

    .carousel-wrapper.touch-scroll {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .carousel-wrapper.touch-scroll::-webkit-scrollbar {
        display: none;
    }

    .carousel-wrapper.touch-scroll .carousel-item {
        scroll-snap-align: center;
    }

    .carousel-item, .carousel-item-review{
        flex: 0 0 calc(100% - 50px);
    }

    .text {
        padding: 30px;
    }

    .carousel-wrapper.touch-scroll {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .carousel-wrapper.touch-scroll::-webkit-scrollbar {
        display: none;
    }

    .carousel-wrapper.touch-scroll .carousel-item {
        scroll-snap-align: center;
    }

    .r-sidebar-float {
        width: 100%;
        float: none;
    }

    .l-content-float {
        width: 100%;
        float: none;
    }
}